* {
    color: #1f1f1f;
    font-family: 'Montserrat', sans-serif;
}

body {
    padding: 10px;
}

.botao {
    font-size: 16px;
    padding: 8px 30px;
    background-color: #4ea3d9;
    color: #F0F0F0;
    border: 0;
    border-radius: 4px;
    height: 38px;
    margin-left: 10px;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 10px;
    margin-right: 20px;
}

.cabecalho .barra-navegacao img {
    width: 50px;
}

.cabecalho .barra-navegacao a {
    margin: 10px;
}

.cabecalho .barra-navegacao a:hover {
    color: #4ea3d9;
}

.cabecalho .botao:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cabecalho .barra-pesquisa {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cabecalho .barra-pesquisa-nav{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.form-control {
    margin: 10px;
}

.btn {
    height: 38px;
}
.achei-perdi-pet {
    position: relative;
}
.achei-perdi-pet .card {
    position: absolute;
    top:0px;
    flex-direction: column;
    width: 400px;
    margin-left: 150px;
    height: 300px;
    align-items: center;
    background-color: rgba(222, 222, 222, .75);
}
.achei-perdi-pet .card a {
    text-decoration: none;
}

.achei-perdi-pet .card .botao {
    display: flex;
    align-items: center ;
    margin: 30px;
    font-size: 24px;
    text-align: center;
    padding: 10px;
    width: 200px;
    height: auto;
    text-align: center;
}

.achei-perdi-pet .card .botao:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.achei-perdi-pet .card h1 {
    font-weight: 900;
    margin: 16px;
}
.como-funciona {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #4ea3d9;
    padding: 30px;
}

.como-funciona h1 {
    font-weight: 900;
    font-size: 40px;
    margin: 10px;
}

.como-funciona h2 {
    margin: 10px;
    font-size: 30px;
    text-align: center;
}

.pets-perdidos {
    padding: 30px;
    text-align: center;
}

.pets-perdidos h1 {
    font-weight: 900;
    font-size: 40px;
    margin: 10px;
}

.pets-perdidos .carrossel-imagens {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    margin: 40px;
    flex-wrap: wrap;
}

.pets-perdidos .carrossel-imagens img {
    width: 350px;
    margin-bottom: 30px;
}


.quem-somos {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #4ea3d9;
    padding: 30px;
}

.quem-somos h1 {
    font-weight: 900;
    font-size: 40px;
    margin: 10px;
}

.quem-somos h2 {
    margin: 10px;
    font-size: 30px;
    text-align: center;
    padding-bottom: 40px;
}

.quem-somos h3 {
    margin: 10px;
    font-size: 20px;
    font-style: italic;
    text-align: center;
}

.pets-encontrados {
    padding: 30px;
    text-align: center;
}

.pets-encontrados h1 {
    font-weight: 900;
    font-size: 40px;
}

.pets-encontrados .carrossel-imagens {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;
    margin-top: 30px;
}

.pets-encontrados .carrossel-imagens img {
    width: 250px;
    margin: 10px;
}

.amplie-nossa-rede {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background-color: #F0F0F0;
}

.amplie-nossa-rede img {
    max-width: 600px;
}

.amplie-nossa-rede .cadastro-email {
    font-weight: 900;
    font-size: 40px;
    margin: 40px;
    background-color: rgb(242, 69, 29, 0.9);
    padding: 80px 20px;
    border-radius: 40px;
}

.amplie-nossa-rede h2 {
    font-size: 24px;
    color: #F0F0F0;
}

.amplie-nossa-rede .cadastro-email h1 {
    color: #F0F0F0;
}

.amplie-nossa-rede .cadastro-email p {
    color: #F0F0F0;
}

.nav .navbar {
    padding: none;
    width: 700px;
}
.form-control{
    margin: 0px;
}
.mais-informacoes{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin: 10px;
}
.mais-informacoes .texto h1{
    font-weight: 900;
    font-size: 20px;
}

.mais-informacoes .quem-somos-footer a {
    display: block;
}
.mais-informacoes .quem-somos-footer a:hover {
    color: #4ea3d9;
}
.mais-informacoes .quem-somos-footer h1 {
    font-size: 24px;
}
.mais-informacoes .quem-somos-footer, .como-funciona-footer{
    width: 400px;
}
.mais-informacoes .como-funciona-footer a {
    display: block;
}
.mais-informacoes .como-funciona-footer a:hover {
    color: #4ea3d9;
}
.mais-informacoes .como-funciona-footer h1 {
    font-size: 24px;
}

.mais-informacoes .botoes .botao{
    width: 150px;
    height: 50px;
    margin: 10px;
    font-size: 15px;
    padding: 10px;
}
.mais-informacoes .botoes .botao-login{
    width: 150px;
    height: 50px;
    margin: 10px;
    font-size: 15px;
    padding: 10px;
    background-color: #a7a7a7;
    color: #F0F0F0;
    border: 0;
    border-radius: 4px;
}

.rodape {
    background: #4ea3d9;
    grid-area: rodape;
    display: flex;
    justify-content: space-between;

}

.rodape h3 {
    font-size: 12px;
    padding-left: 20px;
}

.rodape .texto-rodape {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;

}
   