* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
}

.header{
    width: 100%;
    position: static;
    font-family: Montserrat;
    opacity: 1;
}

.Main{
    display: flex;
    gap: 25px;
    justify-content:  center;
}

.Titulo{
    color: #1B62BF;
    font-weight: Bolder;
    font-size: 40px;
    text-align: center;
    margin-bottom: 0px;
}

.Subtitulo{
    color: #F2441D;
    margin-top: 10px;
    padding-top: -10px;
    font-weight: 1;
    text-align: center;
}

.Foto{
    box-shadow: 3px 1px 2px lightgray;
    max-width: 600px;
}

p{
    font-family: Montserrat;
    left: 150px;
    margin: 0px;
    text-align: center;
}

.Formulario{

    margin: 0%;
    color: #909497;

}

input{
    font-family: Montserrat;
    font-size: 120%;
    padding-left: 5%;
    display: block;
}

.NomePet{
    height: 45px;
    width: 550px;

}

.Endereco{
    height: 45px;
    width: 550px;
    position: relative;
    top: 20px;
}

.TipoPet{
    height: 45px;
    width: 550px;
    font-family: Montserrat;
    font-size: 120%;
    padding-left: 5%;
    position: relative;
    top: 40px;
    color: #909497;
}

.Raca{
    height: 45px;
    width: 550px;
    position: relative;
    top: 60px;
}

.Telefone{
    height: 45px;
    width: 550px;
    position: relative;
    top: 80px;
}

.Email{
    height: 45px;
    width: 550px;
    position: relative;
    top: 100px;
}

.Imagem{
    height: 45px;
    width: 550px;
    position: relative;
    top: 120px;
}

.NomeTutor{
    height: 45px;
    width: 550px;
    position: relative;
    top: 140px;
}

.Informacoes{
    height: 45px;
    width: 550px;
    position: relative;
    top: 160px;
}

button{
    height: 10%;
    position: relative;
    top: 180px;
    font-size: 25px;
}

.Enviar{
    background-color: #4EA4D9;
    color: white;
}

.Cadastro{
    background-color: #FFDF00;
    left: 13%;
    color: darkgray;
}

@media (max-width: 600px) {
    .Main{
        flex-direction: column;
        align-items: center;
    }
}


